.modal-btns{
    border: none;
    cursor: pointer;
    opacity: var(--modal-button-opacity);
}

.modal-btns .vote{
    background: var(--color-love);
    width: 49px;
    height: 43px;
}

.modal-btns .iterate{
    background: var(--color-write);
    width: 49px;
    height: 43px;
}

.modal-btns .note{
    background: var(--color-write);
    padding: var(--modal-button-padding);
}

.modal-btns .edit{
    background: var(--color-write);
    padding: var(--modal-button-padding);
}

.modal-btns .publish{
    background-color: var(--color-success);
    padding: 4px 11px 5px 6px;
}

.modal-btns .delete{
    background-color: var(--color-error);
    width: 47px;
    height: 42px;
}

.modal-btns .close-modal{
    font-family: math;
    border: none;
    width: 47px;
    height: 42px;
    background: #f2f47be6;
    color: black;
    font-size: 44px;
    font-weight: 100;
    line-height: 0;
    margin-top: 7px;
    cursor: pointer;
}