/* svg styles */

.iterate svg {
    fill: black;
    stroke: none;
    width: 37px; 
    height: 37px; 
}

.edit svg {
    fill: black;
    stroke: none;
    width: 36px;
    height: 36px;
    transform: rotate(40deg);
}

.note svg {
    fill: black;
    stroke: none;
    width: 36px;
    height: 36px;
}

.publish svg {
    fill: black; 
    stroke: none;
    width: 30px;
    height: 30px;
}

.login svg {
    fill: black;
    stroke: black;
    width: 29px;
    height: 29px;
}

.logout svg {
    fill: currentColor;
    stroke: currentColor;
    width: 29px;
    height: 29px;
}

.delete svg {
    fill: black;
    stroke: none;
    width: 37px;
    height: 37px;
    transform: translateX(-2px);
}

.vote-info svg {
    fill: var(--love-color-dark);
    width: 35px;
    height: 35px;
    stroke: var(--love-color-dark);
}

.modal-btns .vote svg{
    width: 37px;
    height: 37px;
    transform: rotate(145deg);
}

.modal-btns .vote.voted svg{
    transform: rotate(-30deg);
}

.close-modal svg{
    fill: black;
    stroke: none;
}

.save svg{
    fill: black;
    stroke: none;
}

.notifications svg{
    fill: white;
    stroke: white;
    transform: scale(1.1);
    rotate: 10deg;
}