/* top shelf button/icons */
.story-btn:hover {
    background-image: var(--button-hover-gradient);
    cursor: pointer;
}

.story-btn{
    align-self: center;
    background-color: transparent;
    width: var(--button-width);
    height: var(--button-height);
    border: none;
}

.bookmark-btn svg path {
    fill: var(--color-primary);
}

.bookmark-btn {
    width: calc(var(--button-width) - 5px);
    height: calc(var(--button-height) - 5px); 
}

.bookmark-btn svg {
    width: 35px;
    height: 35px;
}

