.warning-buttons {
  position: relative;
}

.warning-buttons button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px 10px;
  border: none;
  cursor: pointer;
  overflow: visible;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.button-svg {
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.15;
  transition: opacity 0.3s ease;
}

.confirm-svg svg {
  fill: var(--color-success);
}

.cancel-svg svg {
  fill: var(--color-error);
}

.warning-buttons button:hover .button-svg {
  opacity: 0.45;
}
