.warning-buttons {
  position: relative;
}

.warning-buttons button {
  display: grid;
  grid-template: "container";
  place-items: center;
  place-content: center;
  padding: 15px 20px 10px;
  border: none;
  cursor: pointer;
  overflow: visible;
}

.warning-buttons button>* {
  grid-area: container;
}

.button-content {
  z-index: 2;
  place-self: start center;
}

.warning-buttons button span:last-child {
  width: 100%;
  text-align: center;
  min-width: 0;
}

.button-svg {
  place-self: start;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.15;
  transition: opacity 0.3s ease;
}

.confirm-svg svg {
  fill: var(--color-success);
  stroke: none;
}

.cancel-svg svg {
  fill: var(--color-error);
  stroke: none;
}

.warning-buttons button:hover .button-svg {
  opacity: 0.45;
}
