:root {
    /* Indentation */
    --indent-size: 20px;

    /* Spacing */
    --spacing-extra-small: 4px;
    --spacing-small: 6px;
    --spacing-small-medium: 12px;
    --spacing-medium: 20px;
    --spacing-large: 26px;
    --spacing-extra-large: 32px;
    --spacing-extra-extra-large: 60px;
    --spacing-giant: 90px;

    /* Icons*/
    --icon-size: 44px;

    /* Font Sizes */
    --font-size-xsmall: clamp(14px, 1vw + 10px, 16px);
    --font-size-small: clamp(16px, 1.2vw + 12px, 20px);
    --font-size-medium-small: clamp(18px, 1.3vw + 14px, 22px);
    --font-size-medium: clamp(20px, 1.5vw + 16px, 26px);
    --font-size-large: clamp(24px, 2vw + 18px, 32px);
    --font-size-xlarge: clamp(30px, 2.5vw + 20px, 40px);
    --font-size-xxlarge: clamp(36px, 3vw + 24px, 48px);

    /* Colors */

    /* light mode */
    --background-color-light: var(--color-greyscale-lightest); 
    --text-color-light: var(--color-greyscale-darkest);

    /* dark mode */
    --background-color-dark: var(--color-greyscale-darkest); 
    --text-color-dark: var(--color-greyscale-lightest);

    /* colors -- whites */
    --color-white-lightest: rgb(252, 251, 250);
    --color-white-light: floralwhite;
    --color-white:  rgb(255, 252, 243);
    --color-white-dark: rgb(245, 239, 212);

    /* grey colors -- grays */
    --color-grey-light: rgb(214, 211, 211);
    --color-grey: rgb(161, 161, 161);
    --color-grey-dark: rgb(89, 88, 88);

    /* colors -- blacks */
    --color-black-light: rgb(47, 30, 4);
    --color-black: rgb(34, 22, 3);
    --color-black-dark: rgb(18, 13, 2);    

    /* Primary color -- icons and nodes*/
    --color-primary-lightest: rgb(255, 255, 204); 
    --color-primary-light: rgb(255, 215, 69); 
    --color-primary: rgb(243, 171, 2); 
    --color-primary-dark: rgb(228, 162, 8); 
    --color-primary-darkest: rgb(222, 154, 20); 

    /* Secondary color -- text and background*/
    --color-secondary-lightest: rgb(255, 241, 246); 
    --color-secondary-light:rgb(215, 175, 215); 
    --color-secondary: rgb(139, 7, 47); 
    --color-secondary-dark: rgb(100, 5, 35); 
    --color-secondary-darkest: rgb(80, 3, 25); 

    --color-write: #99ededea; 
    --color-accent: #f2f47be6; 
    --color-save: rgba(122, 122, 229);
    --color-love: rgba(243, 119, 225); 
    --color-success: rgba(127, 227, 127); 
    --color-error: rgba(238, 108, 108);
    --color-critical: rgba(150, 30, 30); 

    --color-warning: var(--color-secondary); 
    --color-info: var(--color-primary);

    --color-hotpink: hotpink;
    --color-tomato: tomato;
    --color-grey: grey;



    /* Font Families */
    --font-family-primary: 'Livvic', sans-serif;
    --font-family-secondary: 'Courier New', Courier, monospace;
    --font-family-sans: sans-serif;


    /* Other */
    --border-radius: 4px;
    --box-shadow: 1px 1px 30px 3px rgba(255, 238, 151, 0.40);

    /* Transitions */
    --transition-duration-short: 0.4s;
    --transition-delay: 0.8s;
    --transition-duration-long: 1.5s;


    /* Border Colors */
    --border-color-light: var(--color-black-light);
    --border-color-dark: var(--color-white-dark);

    /* Text Colors */
    --text-color-primary: var(--color-black);
    --text-color-secondary: var(--color-grey);
    --text-color-muted: rgba(0, 0, 0, 0.5);

    /* Hover and Active States */
    --hover-color: var(--color-secondary-lightest);
    --active-color: var(--color-secondary-light);

    /* Contributed styles */
    --contributed-star: "☆ ";
    --contributed-tooltip-text: "☆ contributor";
    --contributed-tooltip-left: var(--spacing-extra-large);
    --contributed-tooltip-top: 0;
    --contributed-tooltip-padding: 2px 6px;

    /* Button styles */
    --button-width: 40px;
    --button-height: 40px;
    --button-hover-gradient: radial-gradient(circle, rgba(255, 253, 132, 0.501) 0%, rgba(244, 218, 90, 0) 70%);

    /* Form buttons */
    --form-button-font-size: var(--font-size-small);
    --form-button-icon-size: 40px;
    --form-button-svg-size: 30px;
    --form-btns-padding-top: var(--spacing-giant);

    /* Modal buttons */
    --modal-button-opacity: 0.95;
    --modal-button-width: 49px;
    --modal-button-height: 43px;
    --modal-button-padding: 3px 5px 0px 5px;
    --modal-button-publish-padding: 4px 11px 5px 6px;
    --modal-button-delete-width: 47px;
    --modal-button-delete-height: 42px;

    /* General styles */
    --hover-color: #FFC34E;
    --header-height: 60px;
    --filters-height: 60px;
    --body-min-height: 100vh;
    --main-min-height: 100%;
    --general-padding: 10px;
    --very-small-font-size: 15px;
    --very-small-max-width: 40ch;
    --small-font-size: 17px;
    --keyword-padding: 10px 20px 10px 10px;
    --keyword-font-size: 15px;
    --muted-text-font-size: 10px;

    /* DRAFTS */
    --draft-opacity: 0.65;

    /* Z-indexes */
    --z-index-toast: 3;

    /* Story styles */
    --story-box-shadow: 0.5px 0.5px 30px 1px var(--color-primary-light);
  /*   --story-margin-bottom: var(--spacing-extra-large); */
  --story-margin-bottom: var(--spacing-medium);
    --story-title-margin-left: 20px;
    --story-title-padding: 20px 10px;
    --story-title-font-size-min: 0.8rem;
    --story-title-font-size-max: 2rem;
    --story-writing-margin: 20px 10px 30px 10px;
    --story-writing-padding-left: 20px;
    --story-writing-font-size: var(--font-size-medium-small);
    --story-prompt-padding-top: 10px;
    --story-prompt-padding-bottom: 20px;
    --story-prompt-font-size: var(--font-size-small);
    --game-status-font-size: 12px;
    --story-hover-gradient: radial-gradient(circle, rgba(255, 253, 132, 0.20) 0%, rgba(244, 218, 90, 0) 90%);
    --game-status-closed-gradient: radial-gradient(circle, rgba(253, 175, 191, 0.2) 0%, rgba(244, 218, 90, 0) 90%);
    --game-status-open-gradient: radial-gradient(circle, rgba(132, 255, 167, 0.2) 0%, rgba(244, 218, 90, 0) 90%);
    --game-status-pending-gradient: radial-gradient(circle, rgba(255, 255, 132, 0.2) 0%, rgba(244, 218, 90, 0) 90%);

     /* Toast styles */
     --toast-container-top: var(--spacing-extra-large);
     --toast-container-right: 0;
     --toast-padding: var(--spacing-small) var(--spacing-medium);
     --toast-border-radius: var(--border-radius);
     --toast-margin-bottom: 10px;
     --toast-opacity: 0.92;
     --toast-transition-duration: var(--transition-duration-short);
     --toast-z-index: var(--z-index-toast);

      /* Word count display */
    --word-count-margin-left: var(--spacing-small);
    --word-count-opacity: 0.93;
    --word-count-number-width: 2em;
    --word-count-number-height: 2em;
    --word-count-tooltip-font-size: var(--font-size-xsmall);
    --word-count-tooltip-padding: 0.75em 1em;
    --word-count-tooltip-border-radius: 0.25em;
    --word-count-number-padding: 1.15em 1em;

    /* CKEditor */
    --ck-color-button-on-background: var(--color-secondary-light);
    --ck-color-button-on-color: var(--color-secondary-lighter);
    --ck-color-focus-border: var(--color-secondary-light);
    --ck-color-button-on-active-background: var(--color-secondary-lightest);
    --ck-color-focus-disabled-shadow: var(--color-accent);
    --ck-color-focus-outer-shadow: var(--color-accent);
}