/* top shelf button/icons */
.story-btn:hover{
    background-image: radial-gradient(circle, rgba(255, 253, 132, 0.501) 0%, rgba(244, 218, 90, 0) 70%);
    cursor: pointer;
}

.story-btn{
    align-self: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
}

.bookmark-btn svg path {
    fill:#ffc44e54;
}

.bookmark-btn {
    align-self: auto; /* align top */
}

.unreads{
    fill:#ffc44ef3;
}

.unreads svg{
    align-self: start;
    top: 0;
    width: 50px;
    height: 50px;
}

/* inner-shelf buttons */
.with-shelf button.iterate{
    background: #99ededea;
}

.with-shelf button.edit{
    background: #99ededea;
}

.with-shelf button.vote{
    background-color: rgba(243, 119, 225, 0.951);
}

.with-shelf button.note{
    background: #99ededea;
}

.with-shelf button.publish{
    background-color: rgba(174, 242, 149, 0.886);
}

.with-shelf button.delete{
    background-color: rgba(238, 108, 108, 0.886);
}

.with-shelf button.edit svg{
    width: 35px;
    height: 40px;
}

.with-shelf button.vote svg{
    width: 25px;
    height: 45px;
    transform: rotate(145deg);
}

.with-shelf button.vote.voted svg{
    transform: rotate(-30deg);
}


/* form buttons */
.form-btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-btns button {
    display: flex;
    flex-direction: column; /* Align SVG above text */
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 100%; /* Full width */
}

.form-btns .title {
    color: grey;
}

.form-btns .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.form-btns svg {
    width: 30px;
    height: 30px;
}

.form-btns button.publish .icon { background-color: rgba(127, 227, 127, 0.866); }
.form-btns button.save .icon { background-color: rgba(122, 122, 229, 0.897); }
.form-btns button.delete .icon { background-color: rgba(225, 128, 128, 0.848); }
.form-btns button.cancel .icon { background-color: gray; }

/* the buttons are currently all in forms, so you don't need to do fetches */
/* these button styles are for the buttons in the tree modal */
.iterate-form, .edit-form, .delete-form, .publish-form, .note-form{
    padding: 0;
}

.iterate svg {
    fill: currentColor;
    width: 37px; /* Adjust size as needed */
    height: 37px; /* Adjust size as needed */
}

.modal-btns .vote{
    background: #ff9df5eb;
    width: 49px;
    height: 43px;
    border: none;
    cursor: pointer;
}

.modal-btns .iterate{
    background: #99ededea;
    width: 49px;
    height: 43px;
    border: none;
    cursor: pointer;
}

.modal-btns .note{
    background: #99ededea;
    padding: 3px 5px 0px 5px;
    border: none;
    cursor: pointer;
}

.modal-btns .edit{
    background: #99ededea;
    padding: 3px 5px 0px 5px;
    border: none;
    cursor: pointer;
}

.modal-btns .publish{
    border: none;
    cursor: pointer;
    background-color: rgba(174, 242, 149, 0.886);
    padding: 4px 11px 5px 6px;
}

.modal-btns .delete{
    background-color: rgba(238, 108, 108, 0.886);
    width: 47px;
    height: 42px;
    border: none;
    cursor: pointer;
}

.modal-btns .vote svg{
    width: 39px;
    height: 39px;
    transform: rotate(145deg);
}

.modal-btns .vote.voted svg{
    transform: rotate(-30deg);
}

.edit svg {
    fill: currentColor;
    width: 36px;
    height: 36px;
    transform: rotate(40deg);
}

.note svg {
    fill: currentColor;
    width: 36px;
    height: 36px;
}

.publish svg {
    fill: currentColor; 
    width: 30px;
    height: 30px;
}

.delete svg {
    fill: currentColor;
    width: 30px;
    height: 30px;
    transform: translateX(-2px);
}

.vote-info svg {
    fill: red;
    width: 35px;
    height: 35px;
    stroke: red;
}