.draft{
    opacity: 65%;
}

.draft .status{
    font-size: var(--font-size-medium);
    opacity: 40%;
    font-variant: small-caps;
    font-family: var(--font-family-livvic);
    font-weight: 500;
}