.draft{
    opacity: var(--draft-opacity);
}

.draft .status{
    font-size: var(--font-size-medium);
    opacity: var(--draft-opacity);
    font-variant: small-caps;
    font-family: var(--font-family-livvic);
    font-weight: 500;
}