.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.toast {
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity var(--transition-duration-short);
}

.toast.show {
    opacity: 0.98;
}

.toast-success {
    background-color: var(--color-success);
    color: var(--color-white);
}

.toast-info {
    background-color: var(--color-info);
    color: var(--color-white);
}

.toast-error {
    background-color: var(--color-error);
    color: var(--color-white);
}
