.toast-container {
    position: fixed;
    top: var(--toast-container-top);
    right: var(--toast-container-right);
    z-index: var(--toast-z-index);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.toast {
    padding: var(--toast-padding);
    margin-bottom: var(--toast-margin-bottom);
    font-size: var(--font-size-medium-small);
    opacity: 0;
    transition: opacity var(--toast-transition-duration);
}

.toast.show {
    opacity: var(--toast-opacity);
}

.toast-success {
    background-color: var(--color-success);
    color: var(--color-white);
}

.toast-info {
    background-color: var(--color-info);
    color: var(--color-white);
}

.toast-error {
    background-color: var(--color-error);
    color: var(--color-white);
}
