.home-container {
    display: grid;
    grid-template-areas: 
        "header"
        "content"
        "buttons";
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 15px;  
    min-height: clamp(600px, 60vh, 800px);  
}

.home:not(.nav-link){
    background: linear-gradient(
        45deg,
        rgba(65, 88, 208, 0.15) 0%,
        rgba(200, 80, 192, 0.15) 25%,
        rgba(255, 204, 112, 0.15) 50%,
        rgba(80, 192, 200, 0.15) 75%,
        rgba(65, 88, 208, 0.15) 100%
    );
    animation: gradientFlow 20s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.background-svg {
    position: absolute;
    left: -20vw;
    top: clamp(100px, 25vh, 375px);
    width: clamp(30px, 70vw, 2500px);
    height: auto;
    transform: translateY(-50%);  
    z-index: -1;
    mix-blend-mode: multiply;
}

.background-svg svg {
    width: 100%;
    height: 100%;
    fill: white;
}

.text-container {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
    margin-top: 1rem;
}

.buttons-container{
    grid-area: buttons;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.text-container p{
    font-size: clamp(0.8rem, 3vw, 2rem);
}

.home-button{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: start;
    align-items: center;
    background-color: var(--color-black);
    padding: 10px;
    border-radius: 10px;
    font-size: clamp(0.8rem, 3vw, 2rem);
    transition: all 0.1s ease-out;
    position: relative;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: var(--color-secondary-light);
}

.home-button svg{
    height: 40px;
    width: auto;    
    fill: white;
}

.home-button.login svg{
    transform: scale(0.8);
}

/* Pressed state */
.home-button:active {
    top: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    filter: 
        drop-shadow(1.5px 0px 0px var(--color-secondary-light)) 
        drop-shadow(-1.5px 0px 0px var(--color-secondary-light))
        drop-shadow(0px 1.2px 0px var(--color-secondary-light)) 
        drop-shadow(0px -1.2px 0px var(--color-secondary-light))
        drop-shadow(0 0 5px rgb(201, 178, 125))
        drop-shadow(0 0 15px rgba(237, 211, 151, 0.5));
    transform: scale(0.98);
}
