/* this is the dark grey background */
.modal-background{
    position: fixed; /* Fixed positioning */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.35); /* Semi-transparent background */
    z-index: 3; /* Ensure modal appears above other elements */
}

/* this is the container with tab/buttons and paper */
.modal-with-btns{
    width: 80%;
    margin: calc(var(--header-height) + var(--filters-height) + var(--filters-height) + 20px) auto;
    justify-content: center;
    display: flex;
    max-height: 60%;

}

/* just a little wider on mobile */
@media (max-width: 768px) {
    .modal-with-btns{
        width: 100%;
    }
    .modal-with-btns .modal{
        width: 78%;
    }
}

.modal .top-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* this is the buttons area -- the close button is always there */

.modal-btns{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

/* an area just for the buttons that are inserted dynamically */
.modal-dynamic-btns{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 10px;
    gap: 25px;
    align-items: flex-end;
}

/* this is the "paper" area */
.modal{
    background: #FFFCF3;
    box-shadow: -1px 1px 10px 2px rgba(0, 0, 0, 0.07), 1px 1px 50px 1px rgba(255, 225, 120, 0.25) inset;
    /* margin: 15% auto; */
    padding: 25px;
    width: 60%; /* Adjust width as needed */
    overflow-y: auto;
    max-height: 100%;
}

/* this is everything on the "paper" */
.modal-dynamic-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-dynamic-content .headline{
    text-align: center;
    font-weight: 100;
    font-size: 23px;
    padding: 0;
}

.modal-dynamic-content .author{
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    color: rgb(59, 57, 57);
}

.modal-dynamic-content p{
    font-size: 15px;
    font-weight: 100;
    color: black; 
    padding: 0;
    padding-bottom: 10px;
}

.modal-text{
    max-height: 60vh;
    overflow-y: auto;
}

.modal-text .writing{
    font-size: 15px;
    font-weight: 100;
    color: black; 
    padding: 0;
    padding-bottom: 10px;
}

.modal .votes svg {
    width: 25px;
    height: 25px;
}

.modal .votes.hidden {
    opacity: 0;
    visibility: hidden;
}