#showcase{
    margin: auto;
    grid-column-start: span 3;
    border:#ccc solid 1px;
    overflow: hidden;
    width: 90%;
    padding-bottom: 40px;
}

.legend.hidden .legend-box {
    height: 0px;
}

.legend.hidden .legend-item {
    display: none;
}

.legend-toggle {
    display: block; /* Ensure toggle is always visible */
}
