/* Custom styles for the tree */
#showcase.with-tree{
    height: 300px;
}


.with-tree .node path {
    stroke: var(--color-black);
    stroke-width: 1.5px;
    cursor: pointer; 
}

.node-title {
    cursor: pointer;
}

.node text {
    font: 14px sans-serif;
    cursor: pointer; 
}
.node .text-by{
    font: 10px var(--font-secondary);
    text-shadow: 0 10px 10px var(--color-white);
}

.node .title-group{
    font: (--font-primary);
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.text-by.author{
    fill: pink;
}

.star{
    cursor: pointer;
}

.tree-title-draft{
    opacity: 30%;
}

path.tree-node-draft {
    fill: var(--color-grey) !important;
    stroke: var(--color-love) !important;
    stroke-width: 1px !important;
    opacity: 50% !important;
}