/* Custom styles for the tree */
#showcase.with-tree{
    height: 300px;
}

.node circle {
    /* fill: pink; */
    stroke: rgb(238, 167, 2);
    stroke-width: 1px;
    cursor: pointer; 
}

.node-title {
    cursor: pointer;
}

.node text {
    font: 14px sans-serif;
    cursor: pointer; 
}
.node .text-by{
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.text-by.author{
    fill: pink;
}

.star{
    cursor: pointer;
}

.tree-title-draft{
    opacity: 30%;
}

.tree-node-draft{
    fill: lightgrey;
    stroke: lightpink;
    opacity: 50%;
}