.tutorial{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;    
    padding-top: 80px;
}

.tutorial-text-container {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary-lightest);
    padding: 1em;
    padding-top: 2em;
    width: 100%;
    position: relative;
    max-width: 600px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}
.tutorial-container ~ .tutorial-container .tutorial-text-container{
    background-color: var(--color-white-light);
}

.tutorial-container ~ .tutorial-container h3 {
    background-image: linear-gradient(
        to bottom,
        transparent 50%,
        var(--color-white-light) 50%
    );
}

.tutorial h2 {
    font-size: 1.4em;
}

.tutorial h3 {
    font-family: var(--font-family-secondary);
    position: absolute;
    top: -0.25em;
    left: 0;
    padding: 0 0.5em;
    margin-left: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    z-index: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 50%,
        var(--color-primary-lightest) 50%
    );
}

.tutorial ol {
    list-style: none;
    counter-reset: none;  
}

.tutorial li::before {
    display: none;  
}

.tutorial li {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    margin-bottom: 2em;
    position: relative;
    padding-left: 0;
    padding-top: 1em;
}

.tutorial li .icons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.tutorial-icon {
    margin-bottom: 0.5em;  /* Space between icon and text */
}

.tutorial-icon {
    display: inline-flex;
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    background-color: var(--color-success);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    vertical-align: middle;
}

/* SVG colors */
.tutorial-icon[data-svg="newGame"] svg path, 
.tutorial-icon path, .tutorial-icon g, .tutorial-icon stroke, .tutorial-icon circle {
    fill: black;
    stroke: black;
}

.tutorial-icon[data-svg="logIn"] svg {
    transform: scale(0.7);
} 

.tutorial-icon[data-svg="browse"] svg path, 
.tutorial-text-container .tutorial-icon[data-svg="newGame"] svg path  {
    fill: var(--color-white);
    stroke: var(--color-white);
}

/* Background colors (for icons) */
.tutorial-icon[data-svg="logIn"], .tutorial-icon[data-svg="publish"] {
    background-color: var(--color-success);
}

.tutorial-icon[data-svg="browse"], 
.tutorial-text-container .tutorial-icon[data-svg="newGame"] {
    background-color: var(--color-black);
}

.tutorial-icon[data-svg="tree"], .tutorial-icon[data-svg="shelf"] {
    background-color: var(--color-primary);
}

.tutorial-icon[data-svg="iterate"], .tutorial-icon[data-svg="newGame"]  {
    background-color: var(--color-write);
}

.tutorial-icon[data-svg="vote"], .tutorial-icon[data-svg="heart"] {
    background-color: var(--color-love);
}

.tutorial-icon[data-svg="save"] {
    background-color: var(--color-save);
}

/* SVG size */
.tutorial-icon svg {
    width: 1.5em;
    height: 1.5em;
}